name: macOS unit test

on:
  # release:
  #   types: [published]
  push:
    branches:
      - dev

permissions:
  contents: read

jobs:
  test-macos:
    runs-on: macos-latest
    steps:
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install langevin
      - name: Run unit tests
        run: |
          ls -l ./dist     
          python -m unittest discover tests
