name: Windows

on:
  # release:
  #   types: [published]
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install langevin
      - name: Check Python path
        shell: powershell
        run: python -c "import sys; print(sys.path)"
      - name: Check repo
        run: dir 
      - name: Run unit tests
        run: python -m unittest discover tests
