name: macOS

on:
  # release:
  #   types: [published]
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install langevin
      - name: Check repo
        run: |
          ls -l $HOME/work/Langevin/Langevin
      - name: Run unit tests
        run: |
          cd $HOME/work/Langevin/Langevin
          ls -l .     
          python -m unittest discover tests
